.profile__edit-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 75%;
    min-width: 340px;
}

@media screen and (max-width: 618px) {
    .profile__edit-group {
        max-width: 80%;
        min-width: 200px;
        text-align: center;
    }
}
