.page {
    max-width: 880px;
    margin: auto;
    background: #000;
    color: #ffffff;
    font-family: "Inter", "Arial", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
