.popup__container {
    display: flex;
    position: relative;
    width: 430px;
}

@media screen and (max-width: 580px) {
    .popup__container {
        width: 74%;
        min-width: 282px;;
    }
}
