.header__logo {
    max-width: 142px;
    padding-top: 45px;
    padding-bottom: 41px; 
}

@media screen and (max-width: 917px) {
    .header__logo {
        padding-left: 19px;        
    }    
}

@media screen and (max-width: 879px) {
    .header__logo {
        padding-top: 28px;
        padding-bottom: 32px;
        padding-left: 27px;
        max-width: 104px;
        height: 24px;
        
    }    
}
