.button-edit {
    width: 24px;
    height: 24px;
    display: block;
    padding: 0;
    border-width: 0;
    background-image: url(../../images/buttons/Edit_Button.svg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    position: absolute;
    right: -42px;
    top: 32px;
    cursor: pointer;
}

@media screen and (max-width: 618px) {
    .button-edit {
        background-size: 18px 18px;
        right: -28px;
        top: 8px;
    }
}

.button-edit:hover {
    opacity: 0.6;
    transition: .2s;
}


.button-edit__img {
    max-width: 24px;
    max-height: 24px;
}

@media screen and (max-width: 618px) {
    .button-edit__img {
        max-width: 18px;
        max-height: 18px;
    }
}
