.profile__intro {
    display: flex;
    column-gap: 30px;
    max-width: 80%;
    align-items: center;
}

@media screen and (max-width: 618px) {
    .profile__intro {
        min-width: 294px;
        flex-direction: column;
        row-gap: 26px;
    }
}
